.footer {
    // .footer__container

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: toRem(30);
        padding-block: toRem(30) toRem(20);
    }

    // .footer__navigation

    &__navigation {
    }

    // .footer__decor

    &__decor {
    }
}
