.header {
    min-height: toRem(156);
    padding-block: toRem(15);
    display: flex;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 150;
    @media (max-width: $laptop) {
        position: fixed;
    }

    // .header__container

    &__container {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: toRem(80);
        position: relative;
        z-index: 5;
    }

    // .header__navigation

    &__navigation {
    }
}
.logo {
    font-family: "Chronicle Display", serif;
    font-size: toRem(32);
    font-weight: 700;
    letter-spacing: toRem(0.32);
    text-transform: uppercase;
}
.navigation {
    @media (max-width: $laptop) {
    }
    // .navigation__list

    &__list {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: toRem(20) toRem(40);
        @media (max-width: $tablet) {
            flex-wrap: nowrap;
            height: 80%;
            flex-direction: column;
            justify-content: flex-start;
            font-size: 1.5em;
            row-gap: 1.5rem;
        }
    }

    // .navigation__item

    &__item {
    }

    // .navigation__link

    &__link {
        font-weight: 700;
        transition: color 0.3s;
        @media (any-hover) {
            &:hover {
                color: $accentColorDark;
            }
        }
    }
}
.account {
    // .account__link

    &__link {
        display: flex;
        align-items: center;
        column-gap: toRem(8);
        font-size: toRem(17);
        font-weight: 700;
        transition: color 0.3s;
        @media (any-hover) {
            &:hover {
                color: $accentColorDark;
                .account__icon {
                    fill: $accentColorDark;
                }
            }
        }
    }
    // .account__icon

    &__icon {
        fill: $mainTextColor;
        width: toRem(24);
        height: toRem(24);
        transition: fill 0.3s;
    }
}

.social {
    position: fixed;
    left: toVW(4);
    top: toRem(270);
    top: 38svh;
    display: flex;
    flex-direction: column;
    gap: toRem(24);
    font-weight: 700;
    @media (max-width: 1790px) {
        left: toRem(10);
    }
    @media (max-width: $tablet) {
        flex-direction: row;
        row-gap: toRem(5);
        flex-wrap: wrap;
        position: relative;
        top: 0;
        left: 0;
    }

    // .social__text

    &__text {
        width: 100%;
        @media (min-width: $tablet) {
            width: max-content;
            writing-mode: vertical-rl;
            text-orientation: mixed;
        }
    }

    // .social__link

    &__link {
        width: toRem(24);
        height: toRem(24);
        transition: color 0.3s;
        @media (any-hover) {
            &:hover {
                .social__icon {
                    fill: $accentColorDark;
                }
            }
        }
    }

    // .social__icon

    &__icon {
        fill: $mainTextColor;
        width: 100%;
        height: 100%;
        transition: fill 0.3s;
    }
}
.side-menu {
    position: fixed;
    right: toVW(4);
    top: toRem(240);
    z-index: 1;
    top: 32svh;
    // .side-menu__list
    @media (max-width: 1790px) {
        right: toRem(10);
    }
    @media (max-width: $mobile) {
        display: none;
    }

    &__list {
        text-align: end;
        font-weight: 700;
    }

    // .side-menu__item

    &__item {
        padding: toRem(16) toRem(30) toRem(20);
        border-right: 3px solid rgba(#ffffff, 0.5);
        transition: all 0.3s;
        &._selected {
            color: $accentColorDark;
            border-right: 3px solid $accentColorDark;
        }

        @media (any-hover) {
            &:hover {
                color: $accentColor;
                border-color: #ffffff;
                border-right: 3px solid $accentColor;
            }
        }
        @media (max-width: $tablet) {
            padding-inline: toRem(5);
            &:first-child .side-menu__link {
                writing-mode: vertical-rl;
                text-orientation: mixed;
            }
        }

        &::after {
            content: "";
            width: toRem(3);
            height: 100%;
            background-color: $mainTextColor;
            opacity: 0.5;
        }
    }

    // .side-menu__link

    &__link {
    }
}
.burger-btn {
    display: none;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: toRem(45);
    height: 2rem;
    z-index: 4;
    @media (max-width: $tablet) {
        display: flex;
    }

    &::before,
    &::after {
        content: "";
        height: toRem(3);
        background-color: $mainTextColor;
    }
    &::before {
        width: 100%;
    }
    &::after {
        width: 70%;
    }
    span {
        display: inline-block;
        order: 2;
        height: toRem(3);
        width: 35%;
        background-color: $mainTextColor;
    }
    &--active {
        position: relative;
        span {
            display: none;
        }
        &::after,
        &::before {
            position: absolute;
            left: 0;
            top: 50%;
            translate: 0 -50%;
            transform-origin: center;
            transition: all 0.3s;
        }
        &::after {
            width: 100%;
            rotate: 45deg;
        }
        &::before {
            rotate: -45deg;
        }
    }
}
.burger-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    min-width: 50%;
    height: 100svh;
    flex-grow: 1;
    padding: toRem(60) toRem(50) toRem(50);
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    background-color: $bgColor;
    transform: translateX(100%);
    transition: transform 0.6s;
    @media (max-width: $mobile) {
        min-width: 70%;
    }
    @media (max-width: $smallMobile) {
        min-width: 100%;
    }

    &--active {
        transform: translateX(0);
        overflow-y: auto;
    }
    &__main {
        display: flex;

        overflow-y: auto;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 1em;
    }
}
